<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>

<h1>Embebidos Parcial Dos</h1>
<img id="imagen" src="/static/images/tem.png" alt="user">
<h1>Sensor1:  </h><h id="sensor">--</h1>
<h1>Sensor2:  </h><h id="sensor2">--</h1>
<button id = 'BOTON1Uno'type="button" onclick="Encender_LED1();">
BOTON UNO!</button>
<button id = 'BOTON1Dos' type="button" onclick="Encender_LED2();">
BOTON_DOS!</button>

	
<script>
</script>
</body>
</html>
